In [52]:
import pandas as pd

In [53]:
df=pd.read_csv("../Integrated_data/Final_dataset.csv",encoding="utf-8")
df_waist=pd.read_excel("../tutorial/data/세명초_latest.xlsx",sheet_name = 1)

In [54]:
df

,ID,collect_datetime,gender,grade,height,weight,step_count,burned calory,eat_calory,Sleep_time
0,#AAGQKY,2022-07-14,2.0,4.0,148.0,45.15,72.0,8.877,2000.0,12.0
1,#AAGQKY,2022-07-15,2.0,4.0,148.0,45.15,72.0,8.877,2000.0,12.0
2,#AAGQKY,2022-07-16,2.0,4.0,148.0,45.15,72.0,8.877,2000.0,12.0
3,#AAGQKY,2022-07-17,2.0,4.0,148.0,45.15,72.0,8.877,2000.0,12.0
4,#AAGQKY,2022-07-18,2.0,4.0,148.0,45.15,72.0,8.877,2000.0,12.0
...,...,...,...,...,...,...,...,...,...,...
59509,#ZZLSSL,2023-01-07,1.0,6.0,153.0,68.00,2103.0,38.812,521.0,442.0
59510,#ZZLSSL,2023-01-08,1.0,6.0,153.0,68.00,2103.0,38.812,521.0,442.0
59511,#ZZLSSL,2023-01-09,1.0,6.0,153.0,68.00,2103.0,38.812,521.0,442.0
59512,#ZZLSSL,2023-01-10,1.0,6.0,153.0,68.00,2103.0,38.812,521.0,442.0
59513,#ZZLSSL,2023-01-11,1.0,6.0,153.0,68.00,2103.0,38.812,521.0,442.0

# 허리둘레 데이터 세트

In [55]:
df_waist=df_waist.drop([1], axis = 0)
df_waist = df_waist.rename(columns=df_waist.iloc[0])
df_waist = df_waist.drop(df_waist.index[0])

In [56]:
df_waist.reset_index(inplace=True, drop=True)

In [57]:
df_waist.columns=['ID','gender','before_height','before_weight','before_waist','gender','after_height','after_weight','after_waist']

In [58]:
df_waist=df_waist[['ID','before_height','before_weight','before_waist','after_height','after_weight','after_waist']]

In [59]:
df_waist.to_csv("../Integrated_data/waist_dataset.csv",encoding="utf-8",index=False)

# 허리 둘레, 최종 데이터 세트 병합

In [60]:
merged_df = pd.merge(df, df_waist, on=['ID'], how='left')

In [61]:
merged_df

,ID,collect_datetime,gender,grade,height,weight,step_count,burned calory,eat_calory,Sleep_time,before_height,before_weight,before_waist,after_height,after_weight,after_waist
0,#AAGQKY,2022-07-14,2.0,4.0,148.0,45.15,72.0,8.877,2000.0,12.0,148,45.3,-,148,45,NaN
1,#AAGQKY,2022-07-15,2.0,4.0,148.0,45.15,72.0,8.877,2000.0,12.0,148,45.3,-,148,45,NaN
2,#AAGQKY,2022-07-16,2.0,4.0,148.0,45.15,72.0,8.877,2000.0,12.0,148,45.3,-,148,45,NaN
3,#AAGQKY,2022-07-17,2.0,4.0,148.0,45.15,72.0,8.877,2000.0,12.0,148,45.3,-,148,45,NaN
4,#AAGQKY,2022-07-18,2.0,4.0,148.0,45.15,72.0,8.877,2000.0,12.0,148,45.3,-,148,45,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59509,#ZZLSSL,2023-01-07,1.0,6.0,153.0,68.00,2103.0,38.812,521.0,442.0,153,68,-,164.2,69.1,91.1
59510,#ZZLSSL,2023-01-08,1.0,6.0,153.0,68.00,2103.0,38.812,521.0,442.0,153,68,-,164.2,69.1,91.1
59511,#ZZLSSL,2023-01-09,1.0,6.0,153.0,68.00,2103.0,38.812,521.0,442.0,153,68,-,164.2,69.1,91.1
59512,#ZZLSSL,2023-01-10,1.0,6.0,153.0,68.00,2103.0,38.812,521.0,442.0,153,68,-,164.2,69.1,91.1
59513,#ZZLSSL,2023-01-11,1.0,6.0,153.0,68.00,2103.0,38.812,521.0,442.0,153,68,-,164.2,69.1,91.1

In [62]:
df_waist.isnull().sum()

ID                 0
before_height      0
before_weight      0
before_waist       0
after_height      45
after_weight      45
after_waist      177
dtype: int64

In [63]:
merged_df.to_csv("../Integrated_data/all_dataset.csv",encoding="utf-8",index=False)